rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isLogged() {
      return request.auth != null;
    }

    function currentUid() {
      return request.auth.uid;
    }

    /* ============================
       USUARIOS
    ============================ */

    match /usuarios/{userId} {
      allow read: if isLogged();
      allow create: if isLogged();
      allow update: if isLogged();
      allow delete: if isLogged();
    }

    /* ============================
       EMPLEADOS
    ============================ */

    match /empleados/{empId} {
      allow get: if true;
      allow list, create, update, delete: if isLogged();
    }

    /* ============================
       ASISTENCIAS
    ============================ */

    match /asistencias/{asistenciaId} {
      allow read: if isLogged();
      allow create: if isLogged();
      allow update: if isLogged();
      allow delete: if isLogged();
    }

    /* ============================
       AFILIADOS
    ============================ */

    match /afiliados/{id} {
      allow get, create, update: if true;
      allow list, delete: if isLogged();
    }

    /* ============================
       AFILIACIONES
    ============================ */

    match /afiliaciones/{id} {
      allow get, create, update: if true;
      allow list, delete: if isLogged();
    }

    /* ============================
       DOCUMENTOS
    ============================ */

    match /documentos/{id} {
      allow get: if true;
      allow list, create, update, delete: if isLogged();
    }

    /* ============================
       AUDITORIA
    ============================ */

    match /auditoria/{id} {
      allow read, create: if isLogged();
      allow update, delete: if false;
    }
  }
}