rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isLogged() {
      return request.auth != null;
    }

    // leer directamente el documento auth sin llamar funciones encadenadas
    function myUserDoc() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid));
    }

    function myRole() {
      return isLogged() ? myUserDoc().data.rol : null;
    }

    function isActive() {
      return isLogged() ? myUserDoc().data.activo == true : false;
    }

    function isSuperAdmin() {
      return isActive() && myRole() == "superadmin";
    }

    function isRRHHOrSuperAdmin() {
      return isActive() &&
        (myRole() == "recursos_humanos" || myRole() == "superadmin");
    }

    function isEmployeeOwner(empId) {
      return isLogged() &&
        get(/databases/$(database)/documents/empleados/$(empId)).data.uidAuth == request.auth.uid;
    }

    /* ================= USUARIOS ================= */

    match /usuarios/{userId} {
      allow read: if isLogged() && request.auth.uid == userId || isRRHHOrSuperAdmin();
      allow create: if isSuperAdmin();
      allow update: if isSuperAdmin();
      allow delete: if isSuperAdmin();
    }

    /* ================= EMPLEADOS ================= */

    match /empleados/{empId} {
      allow read: if isEmployeeOwner(empId) || isRRHHOrSuperAdmin();
      allow create: if isRRHHOrSuperAdmin();
      allow update: if isEmployeeOwner(empId) || isRRHHOrSuperAdmin();
      allow delete: if isSuperAdmin();
    }

    /* ================= ASISTENCIAS ================= */

    match /asistencias/{asistenciaId} {
      allow read: if (isLogged() && resource.data.usuarioId == request.auth.uid) || isRRHHOrSuperAdmin();
      allow create: if isLogged() && request.resource.data.usuarioId == request.auth.uid;
      allow update: if isLogged() && resource.data.usuarioId == request.auth.uid;
      allow delete: if isSuperAdmin();
    }

    /* ================= AFILIADOS ================= */

    match /afiliados/{id} {
      allow read: if true;
      allow create, update, delete: if isSuperAdmin();
    }

    /* ================= DOCUMENTOS ================= */

    match /documentos/{id} {
      allow read: if true;
      allow create, update: if isRRHHOrSuperAdmin();
      allow delete: if isSuperAdmin();
    }

    /* ================= AUDITORIA ================= */

    match /auditoria/{id} {
      allow read: if isSuperAdmin();
      allow create: if isLogged();
      allow update, delete: if false;
    }
  }
}